/* You can add global styles to this file, and also import other style files */

body {
  color: white;
}

.card {
  background-color: transparent !important;
}

a, button {
  color: #45c222 !important;
}

.link {
  color: coral !important;
  text-decoration: underline !important;
  cursor: pointer !important;
}

.tooltip-inner {
  max-width: 500px;
  text-align: justify;
  p {
    margin-bottom: 0px;
    font-size:15px;
  }
}
